<div class="container-lg">
<!-- Navbar Light -->
<nav
  class="navbar navbar-expand-lg navbar-black bg-black z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand text-white " routerLink="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
    <img src="../../../../assets/img/icons/movies-app.png" style="width: 50px; height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
    
      <ul class="navbar-nav navbar-nav-hover mx-auto">

        <li class="nav-item dropdown dropdown-hover mx-2">
        <a routerLink="/" role="button" class="nav-link ps-2 d-flex justify-content-between text-white cursor-pointer align-items-center " aria-expanded="false">
        Filmler
        </a>
        </li>
      
        <li class="nav-item dropdown dropdown-hover mx-2">
        <a routerLink="/series" class="nav-link ps-2 d-flex justify-content-between text-white cursor-pointer align-items-center " aria-expanded="false">
        Diziler
        </a>
        </li>
      
        <li class="nav-item dropdown dropdown-hover mx-2">
        <a routerLink="/animes"  class="nav-link ps-2 d-flex justify-content-between text-white cursor-pointer align-items-center "  aria-expanded="false">
        Animeler
        </a>
        </li>
      
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white  p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Platformlar
          </a>
          <ul class="dropdown-menu  dropdown-menu-end bg-black px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Netfilix
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Exxen
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Amazon Prime
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      BluTV
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                     Gain
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                     Disney+
                    </h6>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </li>
      
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Diğer
          </a>
          <ul class="dropdown-menu  dropdown-menu-end bg-black  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <li class="mb-2 text-white">
              <a routerLink="/register" class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Kayıt Ol
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a routerLink="/contact" class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Contact
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1 text-danger">
                      Apk İndir
                    </h6>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </li>

        </ul>
      
        <ul class="navbar-nav d-lg-block d-none">
        <li class="nav-item">
        <a routerLink="/admin" class="btn btn-sm  btn-danger  mb-0 me-1">Giriş Yap</a>
        </li>
        </ul>

    </div>
  </div>
</nav>
<!-- End Navbar -->
<!--login strat-->
<section>
  <div class="page-header min-vh-100 bg-white">
  <div class="container">
  <div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
  <div class="card card-plain">
  <div class="card-header pb-0 text-start">
  <h4 class="font-weight-bolder">Sign In</h4>
  <p class="mb-0">Enter your email and password to sign in</p>
  </div>
  <div class="card-body">
  <form role="form" [formGroup]="loginForm">
  <div class="mb-3">
  <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Email" aria-label="Email">
  </div>
  <div class="mb-3">
  <input type="email" class="form-control form-control-lg" formControlName="pasword" placeholder="Password" aria-label="Password">
  </div>
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="rememberMe">
  <label class="form-check-label" for="rememberMe">Remember me</label>
  </div>
  <div class="text-center">
  <button (click)="login()" type="submit" value="GİRİŞ" type="button" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Giriş Yap</button>
  </div>
  </form>
  </div>
  <div class="card-footer text-center pt-0 px-lg-2 px-1">
  <p class="mb-4 text-sm mx-auto">
  Don't have an account?
  <a routerLink="/register" href="javascript:;" class="text-primary text-gradient font-weight-bold">Kayıt Ol</a>
  </p>
  </div>
  </div>
  </div>
  <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
  <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('../../../assets/img/curved-images/bg-image.jpg');
            background-size: cover;">
  <span class="mask bg-gradient-primary opacity-6"></span>
  <h4 class="mt-5 text-white font-weight-bolder position-relative">"join this adventure too."</h4>
  <p class="text-white position-relative">Action, adventure, horror, love, all the movies and series you are looking for are here.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <!--login end-->
  <!--footer start-->
<footer class="footer pt-3  ">
  <div class="container-lg bg">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-white text-center text-sm  text-lg-start">
          © <script>
            document.write(new Date().getFullYear())
          </script>,
          İle Yapılmıştır <i class="fa fa-heart"></i> by
          <a href="#" class="font-weight-bold" target="_blank">Burak_Ergin</a>
          Daha iyi bir web için.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Hazırlayan Tim</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pe-0 text-white" target="_blank">Lisans</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->
</div>


